<h1>Welcome to ReTailor!</h2>

<p>
<%= link_to 'Sign up as a Tailor ', new_tailor_path %> | <%= link_to 'Login as a Tailor ', '/retailors/tailor_login' %>
</p>

<p>
<%= link_to 'Sign up as a Buyer ', new_buyer_path %> | <%= link_to 'Login as a Buyer ', '/retailors/buyer_login' %>
</p>